# Binaries and build
build/
build-ninja
dist/
dist/installer/
content_pak/
cache
*.exe
*.obj
*.o
*.pdb
.vs
benchmark/

config/user/*

# Visual Studio Code
.vscode/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Logs
*.log
