# tail_fire_config.cfg

[charmeleon]
tailTipNodeName=tail_06
fireAnchorBaseNodeName=fire_anchor_base
fireAnchorTipNodeName=fire_anchor_tip
tailTipNodeIndex=49
tailWorldYOffset=0.185
emitRatePerSec=35.0
spawnRadius=0.0085
backDir=0,0,1
acceleration=0,1.9,0
dampingBase=0.07
pointScale=980
useFlipbook=true
useFlipbook2=false
inheritVelocity=0.9
followSmoothing=0.0

[charizard]
tailTipNodeName=tail_06
fireAnchorBaseNodeName=fire_anchor_base
fireAnchorTipNodeName=fire_anchor_tip
tailTipNodeIndex=49
tailWorldYOffset=0.185
emitRatePerSec=35.0
spawnRadius=0.0085
backDir=0,0,1
acceleration=0,1.9,0
dampingBase=0.07
pointScale=980
useFlipbook=true
useFlipbook2=false
inheritVelocity=0.9
followSmoothing=0.0
