# tail_fire_config.cfg

[charmander]
tailTipNodeName=tail_04
tailTipNodeIndex=45
tailWorldYOffset=0.185
emitRatePerSec=35.0
spawnRadius=0.0085
backDir=0,0,1
acceleration=0,1.9,0
dampingBase=0.07
pointScale=980
useFlipbook=true
